DEBUG=True
SECRET_KEY='fdslvbor743yrorgforf283yfphvw'
DATABASE_URL=postgres://yourusername:yourpassword@localhost/theater_ticketing
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
CORS_ALLOW_CREDENTIALS=True
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:8000
ALLOWED_HOSTS=http://localhost:3000,http://localhost:3001,http://localhost:8000
